.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 个人设置 */

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none !important; /* Chrome Safari */
}

/* 设置图标居中 */
.marginAuto {
  margin: auto!important;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

/* 用来给事物在容器内垂直水平居中 */
.flexCenter {
  display: flex;
  align-items: center;/* flex水平居中（子项在侧轴上居中） */
  justify-content: center;/* flex垂直居中 */
}

.flexStart {
  display: flex;
  align-content: flex-start;/* 主轴顶端对齐（主轴在侧轴上从上到下排） */
  justify-content: center;/* flex垂直居中 */
}

.wrapScroll {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;/* 排满换行 */
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-7 {
  flex: 7;
}

.flex-15 {
  flex: 15;
}

/* 设置展示用的列表 */
.containBorder {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: solid 1px gray;
  border-radius: 1rem;
  display: flex;
}

.borderBottom {
  border-bottom: solid 1px gray;
}

// 队伍框的边框
.teamBorder {
  width: calc(100% - 2px);
  border: solid 1px gray;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin: 0.2rem;
}

/* 顶部：个人信息栏，以及底部：导航栏 */
.infoBar {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
}

/* 中部：盛放每个主页的元素 */
.pageContain {
  width: 100vw;
  height: calc(88vh - 2px);
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.pageArea {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
}

/* 设置弹出页面的遮罩层 */
.boxPageMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 32;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
}

/* 较大的弹出页面 */
.largeBoxBody {
  width: 80vw;
  height: 80vh;
  background-color: ghostwhite!important;
  border: solid 1px black;
  border-radius: 2rem;
  overflow: scroll;
}

/* 适中的弹出页面 */
.middleBoxBody {
  width: 40vw;
  height: 40vh;
  background-color: ghostwhite;
  border: solid 1px black;
  border-radius: 2rem;
  overflow: scroll;
}

/* 抽奖操作按钮 */
.gachaTimesOpera {
  margin: auto;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
  width: 100%;
}

.gachaResultList {
  margin: auto;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
}

/* 人物卡 */
.cardBase {
  position: relative;
  margin: 0.5rem!important;
  width: 8.5rem!important;
  height: 2.5rem!important;
}

.cardName {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
}

/* 标识人物卡上的星级 */
.cardStars {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;/*flex水平居中*/
  justify-content: center;/*flex垂直居中*/
}

.cardLevel5 {
  color: orange!important;
  text-shadow: 1px 0px 10px yellow!important;
  border: solid 1px orange!important;
}

.cardLevel4 {
  color: purple!important;
  text-shadow: 1px 0px 5px pink!important;
  border: solid 1px purple!important;
}

.cardLevel3 {
  color: blue!important;
  text-shadow: 1px 0px 2px cyan!important;
  border: solid 1px blue!important;
}

.cardLevel2 {
  color: sienna!important;
  /* text-shadow: 1px 0px 2px cyan!important; */
  border: solid 1px sienna!important;
}

.cardLevel1 {
  color:gray!important;
  /* text-shadow: 1px 0px 2px cyan!important; */
  border: solid 1px gray!important;
}

.cardUnkown {
  background-color: gainsboro;
  border: solid 1px gray;
}

/* 整个弹窗组件 */
.component-hint {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* 遮罩背景 */
.hint-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* 弹窗区域（内容 + close）：严格居中 */
.hint-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 弹窗的内容部分 */
.hint-content {
  width: 15.45rem;
  height: 19.32rem;
  background-size: 15.45rem 19.32rem;
}

/* 弹窗的close图标 */
.hint-close {
  width: 1.25em;
  height: 1.25em;
  background-size: 1.25rem 1.25rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

/* 地图页面 */
.areaDiv {
  display: flex;
  align-items: center;/* flex水平居中 */
  justify-content: center;/* flex垂直居中 */
  border-bottom: solid 1px black;
  width: 100%;
  height: 3rem;
}

// 多选框的弹窗
.checkBox {
  position: absolute;
  padding: 0;
  width: 3rem;
  height: 1.5rem;
  background-color: gray;
}